<nav class="cover-navigation navigation--social">
  <ul class="navigation">
    <!-- Bluesky -->
    <li class="navigation__item">
      <a href="https://bsky.app/profile/xiscacassola.bsky.social" title="Bluesky" target="_blank">
        <img src="{{ site.baseurl }}/assets/images/social/blue.svg" alt="Bluesky"
             style="background-color: white; border-radius: 50%; width: 36px; height: 36px; padding: 6px;">
      </a>
    </li>
    
    <!-- LinkedIn -->
    <li class="navigation__item">
      <a href="https://www.linkedin.com/in/francescamauracassola/" title="LinkedIn" target="_blank">
        <img src="{{ site.baseurl }}/assets/images/social/linkedin.svg" alt="LinkedIn"
             style="background-color: white; border-radius: 50%; width: 36px; height: 36px; padding: 6px;">
      </a>
    </li>

    <!-- ResearchGate -->
    <li class="navigation__item">
      <a href="https://www.researchgate.net/profile/Francesca-Cassola" title="ResearchGate" target="_blank">
        <img src="{{ site.baseurl }}/assets/images/social/researchgate.svg" alt="ResearchGate"
             style="background-color: white; border-radius: 50%; width: 36px; height: 36px; padding: 6px;">
      </a>
    </li>

    <!-- Twitter/X -->
    <li class="navigation__item">
      <a href="https://x.com/xisca_cassola" title="Twitter" target="_blank">
        <img src="{{ site.baseurl }}/assets/images/social/twitter.svg" alt="Twitter"
             style="background-color: white; border-radius: 50%; width: 36px; height: 36px; padding: 6px;">
      </a>
    </li>

    <!-- ORCID -->
    <li class="navigation__item">
      <a href="https://orcid.org/0000-0002-0849-0070" title="ORCID" target="_blank">
        <img src="{{ site.baseurl }}/assets/images/social/orcid.svg" alt="ORCID"
             style="background-color: white; border-radius: 50%; width: 36px; height: 36px; padding: 6px;">
      </a>
    </li>
  </ul>
</nav>
