<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <span class="mobile btn-mobile-menu">
        <i class="fa fa-list btn-mobile-menu__icon"></i>
        <i class="fa fa-angle-up btn-mobile-close__icon hidden"></i>
    </span>
    
    {% include side-panel.html %}

   <div class="content-wrapper" style="background-image: url('{{ site.baseurl }}/assets/images/background-cover.jpeg'); background-size: cover; background-position: center;">
  <div class="overlay" style="background: rgba(255, 0, 0, 0.35); padding: 2rem 1rem;">
    <div class="content-wrapper__inner" style="text-align: center;">
      <!-- Avatar sopra al titolo -->
      <img src="{{ site.baseurl }}/assets/images/avatar.jpg" alt="Francesca M. Cassola" style="border-radius: 50%; width: 150px; margin-bottom: 20px; box-shadow: 0 0 8px rgba(0,0,0,0.3);">

      {{ content }}

      {% include footer.html %}
    </div>
  </div>
</div>


    
    {% include external.html %}
    
  </body>

</html>
